/* Basic styling for header, footer, and main content */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.d {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  top: 5%;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
input {
  text-align: center;
  width: 50%;
  border: #222 solid 1px;
  border-radius: 10px;
  height: 30px;
  padding: 5px;
  font-size: 1.2rem;
}
button {
  margin: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #c8c9ca7d;
  padding: 5px;
}
 

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
}



/* @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"); */
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #222;
}
.addrecipe {
  background: linear-gradient(to right, #fbe4d9, #eaeae4, #f4d9cc);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 25px 40px rgba(116, 141, 113, 0.729);
  margin: 10px 0 10px 0 ;
  font-weight: bold;
}
section {
  margin-top: 100px;
}
.items-inner {
  width: 1400px;
  margin: auto;
}
.items-inner h1 {
  font-size: 20px;
}
.items {
  text-align: center;
  float: left;
  margin-right: 30px;
  gap: 25px;
}
.item {
  display: inline-block;
  box-shadow: 0 25px 40px rgba(116, 141, 113, 0.729);
  border-radius: 10px;
  height: fit-content;
}
.item:last-child {
  margin-right: 0;
}
.item.margin {
  margin: 0 0 80px;
}
.messages{
  align-items: center;
  background: rgb(234, 45, 45);
}
#message{
  padding: 5px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 100%;
  font-size: 20px;
}
.photo {
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 250px;
  height: 300px;
  overflow: hidden;
}
img
.photo:hover .number {
  background: rgba(255, 255, 255, 0);
  color: #fff;
}
.photo img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.35s;
}
.number {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.61);
  color: #000000;
  font-size: 18px;
  line-height: 45px;
  transition: 0.35s;
  z-index: 2;
}
.wish {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
.wish:before {
  content: "\f08a";
  font-family: fontawesome;
  font-size: 25px;
}
.wish.active:before {
  content: "\f004";
  color: rgb(255, 255, 255);
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
.desc small {
  color: #373737;
}
.desc span {
  font-size: 13px;
  font-weight: 400;
  color: grey;
}
.desc h5 {
  margin: 0;
  color: rgb(16, 114, 33);
}
.desc h5 b {
  color: #222;
  margin: 0 5px;
}
.desc em {
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  color: grey;
}
.item a:before {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #ffff;
  padding: 5px 10px;
  border-radius: 0 10px 0 0;
  color: rgb(16, 114, 33);
  font-weight: 500;
  font-size: 15px;
}
.item:nth-child(1) a:before {
  content: "BEST";
}
.item:nth-child(3) a:before {
  content: "NEW";
}
